---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { Icon } from 'astro-icon/components';
import Wrapper from '../utils/Wrapper.astro';

import Text from '../atoms/Text.astro';

interface Props {
  image: {
    src: ImageMetadata;
    alt: string;
  };
  copy: string;
  link: {
    href: string;
    text: string;
  };
}

const { image, copy, link } = Astro.props;
---

<Wrapper variant="primary" className="relative !mt-0 py-12 lg:py-24 2xl:pt-48" hasOverflow={false}>
  <div class="bg-mh-yellow-light">
    <div
      class="xl: absolute -top-[130px] left-1/2 w-full -translate-x-1/2 lg:top-12 lg:left-12 lg:translate-none 2xl:-top-[20px]"
    >
      <Image
        src={image.src}
        alt={image.alt}
        width={392}
        height={392}
        class="outline-mh-yellow mx-auto h-40 w-40 rounded-full object-cover outline-2 outline-offset-8 lg:mx-0 lg:-mt-48 lg:h-56 lg:w-56 2xl:h-96 2xl:w-96"
      />
    </div>
    <div class="lg:mx-auto lg:max-w-3xl">
      <Text Htmltag="p" size="s" text={copy} className="md:text-s-desktop mb-4 italic" />
      <a
        class="bg-mh-yellow font-default ml-auto flex w-max items-center gap-3 px-3 py-2 uppercase"
        href={link.href}>{link.text} <Icon name="chevron" class="-rotate-90" /></a
      >
    </div>
  </div>
</Wrapper>
