---
import { Icon } from 'astro-icon/components';

const menuClass =
  'absolute z-20 transition-transform duration-500 min-w-12 min-h-12 flex justify-center items-center bg-mh-black rounded-full';
const iconClass = 'w-4 h-4 cursor-pointer text-white';
const linkClass =
  'js_link text-xxs lg:text-xxs-desktop font-default uppercase tracking-wider hover:underline hover:underline-offset-4';
---

<header
  id="js_header"
  class="xl:max-w-wrapper relative box-border flex items-center justify-between gap-6 p-5 lg:mb-12 xl:mx-auto xl:mb-40 xl:justify-start xl:gap-20 xl:py-12"
>
  <a class="relative z-10" href="/">
    <Icon name="logo" class="h-auto w-52 xl:w-80" />
    <span class="sr-only">Home | MH Consulting</span>
  </a>
  <div class="relative min-h-12 min-w-12 overflow-hidden xl:hidden">
    <button id="js_burger" class={menuClass}>
      <Icon name="burger" class={iconClass} />
      <span class="sr-only">Menü öffnen | MH Consulting</span>
    </button>
    <button id="js_close" class:list={[menuClass, 'translate-x-full']}>
      <Icon name="close" class={iconClass} />
      <span class="sr-only">Menü schließen | MH Consulting</span>
    </button>
  </div>

  <div class="absolute top-0 right-0 h-lvh w-lvw overflow-hidden xl:static xl:h-full xl:w-full">
    <nav
      id="js_navigation"
      class="absolute right-0 bottom-0 left-0 z-10 translate-x-full bg-white px-5 py-10 transition-transform duration-0 xl:static xl:translate-x-0 xl:px-0 xl:py-0 xl:duration-0"
    >
      <ul class="flex h-1/2 flex-col items-center gap-8 xl:h-full xl:flex-row">
        <li>
          <a href="/#ueber-mich" class={linkClass}>Über mich</a>
        </li>
        <li>
          <a href="/#leistungen" class={linkClass}>Leistungen</a>
        </li>
        <li>
          <a href="/#kontakt" class={linkClass}>Kontakt</a>
        </li>
        <li class="grid flex-1 items-end justify-end">
          <a href="mailto:contact@moritzharrass-consulting.de" class={linkClass}
            ><Icon name="email" class="h-10 w-10 lg:h-20 lg:w-20" /><span class="sr-only"
              >Email | MH Consulting</span
            ></a
          >
        </li>
      </ul>
    </nav>
  </div>

  <script>
    const burgerMenu = () => {
      const burger = document.getElementById('js_burger');
      const close = document.getElementById('js_close');
      const navigation = document.getElementById('js_navigation');
      const header = document.getElementById('js_header');
      const hideClass = 'translate-x-full';
      const scrollLockClass = 'overflow-hidden';
      const durationClass = ['duration-0', 'duration-500'];
      const links = document.querySelectorAll('.js_link');

      if (!burger || !close || !navigation || !header) {
        return;
      }

      const updateNavigationTop = () => {
        const headerHeight = header.clientHeight;
        navigation.style.top = `${headerHeight}px`;
      };

      const closeNavigation = () => {
        burger.classList.toggle(hideClass);
        close.classList.toggle(hideClass);
        navigation.classList.toggle(hideClass);
        document.documentElement.classList.toggle(scrollLockClass);

        setTimeout(() => {
          navigation.classList.replace(durationClass[1], durationClass[0]);
        }, 500);
      };

      updateNavigationTop();

      window.addEventListener('resize', updateNavigationTop);

      burger.addEventListener('click', () => {
        burger.classList.toggle(hideClass);
        close.classList.toggle(hideClass);
        navigation.classList.toggle(hideClass);
        navigation.classList.replace(durationClass[0], durationClass[1]);
        document.documentElement.classList.toggle(scrollLockClass);
      });

      close.addEventListener('click', () => {
        closeNavigation();
      });

      links.forEach((link) => {
        link.addEventListener('click', () => {
          if (!navigation.classList.contains(hideClass)) {
            setTimeout(() => {
              closeNavigation();
            }, 350);
          }
        });
      });
    };

    burgerMenu();
  </script>
</header>
