---
import Text from '../atoms/Text.astro';
import { Icon } from 'astro-icon/components';
import Wrapper from '../utils/Wrapper.astro';

interface Props {
  overline?: string;
  headline: string;
  list: {
    icon: string;
    headline: string;
    copy: string;
  }[];
}

const { overline, headline, list } = Astro.props;
---

<Wrapper id="ueber-mich" variant="light">
  {
    overline && (
      <Text Htmltag="div" size="s" text={overline} hasLetterSpacing className="uppercase mb-6" />
    )
  }
  <Text Htmltag="h2" size="m" text={headline} isBlack className="mb-12 xl:w-4/6" />
  <ol class="grid list-none gap-12 bg-white xl:grid-cols-3">
    {
      list.map((item) => (
        <li>
          <div class="mb-4 flex items-center gap-4 lg:gap-6">
            <span class="outline-mh-yellow flex h-20 w-20 items-center justify-center rounded-full outline">
              <Icon class="h-12 w-12" name={item.icon} />
            </span>
            <Text
              Htmltag="h3"
              size="m"
              text={`${item.headline}<span class="text-mh-yellow">.</span>`}
              isBlack
              is:raw
            />
          </div>
          <Text className="line-clamp-3 js_line-clamp mb-4" Htmltag="p" size="s" text={item.copy} />
          <button class="js_button font-default text-s lg:text-s-desktop font-bold hover:underline">
            Mehr erfahren
          </button>
        </li>
      ))
    }
  </ol>
</Wrapper>

<script>
  const SELECTORS = {
    lineClamps: '.js_line-clamp',
    buttons: '.js_button',
  };

  const TEXTS = {
    button: {
      open: 'Mehr erfahren',
      close: 'Weniger erfahren',
    },
  };

  const buttons = document.querySelectorAll(SELECTORS.buttons);
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      const lineClamp = button.previousElementSibling;

      if (lineClamp) {
        lineClamp.classList.toggle('line-clamp-none');
        button.textContent =
          button.textContent?.trim() === TEXTS.button.open ? TEXTS.button.close : TEXTS.button.open;
      }
    });
  });
</script>
