---
import LineAnimation from '../molecules/LineAnimation.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import type { ImageMetadata } from 'astro';
import Wrapper from '../utils/Wrapper.astro';

import type { ComponentProps } from 'astro/types';

type LineAnimationProps = ComponentProps<typeof LineAnimation>;

interface Props {
  animationTexts: LineAnimationProps['texts'];
  headline: string;
  image: {
    src: ImageMetadata;
    alt: string;
  };
}

const { animationTexts, headline, image } = Astro.props;
---

<Wrapper variant="light" className="relative" hasOverflow2xl>
  <div class="-mx-5 lg:hidden">
    <Image
      src={image.src}
      alt={image.alt}
      class="mb-6"
      loading="eager"
      fetchpriority="high"
      decoding="sync"
    />
  </div>
  <div class="lg:grid lg:grid-cols-[2fr_1fr]">
    <h2 class="font-default 2xl:text-xl-desktop mb-16 text-xl font-black">
      <LineAnimation texts={animationTexts} />{headline}<span class="text-mh-yellow">.</span>
    </h2>
    <Image
      src={image.src}
      alt={image.alt}
      loading="eager"
      fetchpriority="high"
      densities={[0.5, 1, 1.5, 2]}
      class="outline-mh-yellow 3xl:-right-[20%] absolute top-1/2 right-12 hidden aspect-square h-auto w-[300px] -translate-y-1/2 rounded-full object-cover outline-2 outline-offset-8 lg:block 2xl:-right-[30%] 2xl:w-[787px]"
    />
  </div>

  <Icon name="chevron" class="text-mh-yellow mx-auto mb-20 h-10 w-10 animate-bounce" />
</Wrapper>
