---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import Header from '../components/molecules/Header.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.request.url} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="./src/images/share-image.jpg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="./src/images/share-image.jpg" />

    <link rel="canonical" href={Astro.request.url} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Project Joker GmbH" />
  </head>

  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
</style>
